body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}

container {
    display: flex;
    flex-direction: column;
    margin: 5px;    
}
 
.display-text {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
}

.display {
    flex-grow: 1;
    color: rgb(32, 36, 32);
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    padding-right: 30px;
    margin: 5px;
    font-size: 35px;
    border-radius: 37.5px;
    background-color: #5b6b5b;
}

button {
    border: 1px solid black;
    margin: 5px;    
    font-size: 35px;
    padding: 5px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.541);
    box-shadow: -8px 10px 20px -5px rgba(117, 117, 117, 0.712) inset;
    transition: 0.3s;
}

button:active {
    box-shadow: white;
    box-shadow: 8px -10px 20px -5px rgba(117, 117, 117, 0.527) inset;
}

.number {
    background-color: #000000;
}
.number:active {
    background-color: #252525;
}

.operator,
.dot {
    background-color: #362200;
}
.operator:active,
.dot:active {
    background-color: #533500;
}

.equals {
    background-color: #998200;
}
.equals:active {
    background-color: #b89c01;
}